
body {
  margin-left: 2em;
  margin-right: 2em;
}

/*
h1 { margin-left: 1em; }
h2 { margin-left: 2em; }
h3 { margin-left: 3em; }
*/

// h2 { background: #99FF99; }

a {
  text-decoration: none;
  // color: blue;
  // font-weight: bold;
}

// a:visited { color: #551A8B; } // default
// a:visited { color: blue; }
a:visited { color: darkred; }

a:hover {
  text-decoration: underline;
  color: sienna;
}

p { margin-left: 2em; }
ul { margin-left: 2em; }
table { margin-left: 2em; }

div { margin-left: 2em; }

